.navbar{
    background-color: yellow;
    font-family: roboto;
    font-size: 2rem;
    font-weight: 400; 

    display: flex;
    justify-content: flex-end;
}

nav a{
    color: green;
    text-decoration: none;
}

nav a{
    font-size: 20px;
    margin-left: 5px;
    padding: 20px;
}
